In [5]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import pylab

In [6]:
pylab.rcParams['figure.figsize'] = 10, 8
%matplotlib inline

In [7]:
df = pd.read_csv('./data/data_cleaned/combined_data_state_level_from_2000.csv')

In [8]:
df.isnull().sum()

state                                   0
year                                    0
enroll                                  0
total_revenue                           0
federal_revenue                         0
state_revenue                           0
local_revenue                           0
total_expenditure                       0
instruction_expenditure                 0
support_services_expenditure            0
other_expenditure                       0
capital_outlay_expenditure              0
avg_attendence_elem_secd_schools       51
teachers_elem_secd_schools            306
high_school_completers_18_to_24       510
bachelor_completers_over_25           510
pupil_teacher_ratio                   255
pub_high_school_graduates             153
expenditure_per_pupil                  51
edu_expenditure_percent_gov_income     18
population                              0
gdp_per_capita                          0
state_tax_collection                   80
income_per_capita                       0
known_property_crimes                   5
unemployment_rate                       0
dtype: int64

# Deal with NaNs using pchip

In [9]:
for s in df.state.unique():
    df[df.state == s] = df[df.state == s].interpolate(method = 'pchip',limit_direction = 'both')

In [10]:
df.head()

,state,year,enroll,total_revenue,federal_revenue,state_revenue,local_revenue,total_expenditure,instruction_expenditure,support_services_expenditure,...,pupil_teacher_ratio,pub_high_school_graduates,expenditure_per_pupil,edu_expenditure_percent_gov_income,population,gdp_per_capita,state_tax_collection,income_per_capita,known_property_crimes,unemployment_rate
0,Alabama,2000,730184.0,4885917,425978,3003814,1456125,5003267,2551713,1319053,...,15.354315,37819.0,5758.428628,0.250000,4452173.0,33284,2.430990e+08,24258,151127.0,0.045750
1,Alaska,2000,132822.0,1313510,199520,774194,339796,1386904,717725,417637,...,16.922491,6615.0,9668.161193,0.123966,627963.0,57184,4.384380e+08,31651,21074.0,0.063583
2,Arizona,2000,814807.0,5479168,534619,2481089,2463460,5397194,2488932,1573568,...,19.750846,38304.0,5478.359673,0.190000,5160586.0,39185,5.231820e+08,26232,271269.0,0.039750
3,Arkansas,2000,450751.0,2844855,254735,2126099,464021,2683400,1531232,804253,...,14.084370,27335.0,5627.818516,0.195000,2678588.0,31834,2.369690e+08,22784,97501.0,0.042750
4,California,2000,5941946.0,46628207,4024940,26877920,15725347,45829753,23514388,12429070,...,20.605279,309866.0,6400.553393,0.260000,33987977.0,48223,6.638762e+09,33095,1054010.0,0.049583

In [11]:
df.isnull().sum()

state                                  0
year                                   0
enroll                                 0
total_revenue                          0
federal_revenue                        0
state_revenue                          0
local_revenue                          0
total_expenditure                      0
instruction_expenditure                0
support_services_expenditure           0
other_expenditure                      0
capital_outlay_expenditure             0
avg_attendence_elem_secd_schools       0
teachers_elem_secd_schools             0
high_school_completers_18_to_24        0
bachelor_completers_over_25            0
pupil_teacher_ratio                    0
pub_high_school_graduates              0
expenditure_per_pupil                  0
edu_expenditure_percent_gov_income    16
population                             0
gdp_per_capita                         0
state_tax_collection                  80
income_per_capita                      0
known_property_crimes                  0
unemployment_rate                      0
dtype: int64

# Drop State_Tax_Collection

In [12]:
df =df.drop('state_tax_collection', axis = 1)

In [13]:
df.head()

,state,year,enroll,total_revenue,federal_revenue,state_revenue,local_revenue,total_expenditure,instruction_expenditure,support_services_expenditure,...,bachelor_completers_over_25,pupil_teacher_ratio,pub_high_school_graduates,expenditure_per_pupil,edu_expenditure_percent_gov_income,population,gdp_per_capita,income_per_capita,known_property_crimes,unemployment_rate
0,Alabama,2000,730184.0,4885917,425978,3003814,1456125,5003267,2551713,1319053,...,0.190,15.354315,37819.0,5758.428628,0.250000,4452173.0,33284,24258,151127.0,0.045750
1,Alaska,2000,132822.0,1313510,199520,774194,339796,1386904,717725,417637,...,0.247,16.922491,6615.0,9668.161193,0.123966,627963.0,57184,31651,21074.0,0.063583
2,Arizona,2000,814807.0,5479168,534619,2481089,2463460,5397194,2488932,1573568,...,0.235,19.750846,38304.0,5478.359673,0.190000,5160586.0,39185,26232,271269.0,0.039750
3,Arkansas,2000,450751.0,2844855,254735,2126099,464021,2683400,1531232,804253,...,0.167,14.084370,27335.0,5627.818516,0.195000,2678588.0,31834,22784,97501.0,0.042750
4,California,2000,5941946.0,46628207,4024940,26877920,15725347,45829753,23514388,12429070,...,0.266,20.605279,309866.0,6400.553393,0.260000,33987977.0,48223,33095,1054010.0,0.049583

In [14]:
df.isnull().sum()

state                                  0
year                                   0
enroll                                 0
total_revenue                          0
federal_revenue                        0
state_revenue                          0
local_revenue                          0
total_expenditure                      0
instruction_expenditure                0
support_services_expenditure           0
other_expenditure                      0
capital_outlay_expenditure             0
avg_attendence_elem_secd_schools       0
teachers_elem_secd_schools             0
high_school_completers_18_to_24        0
bachelor_completers_over_25            0
pupil_teacher_ratio                    0
pub_high_school_graduates              0
expenditure_per_pupil                  0
edu_expenditure_percent_gov_income    16
population                             0
gdp_per_capita                         0
income_per_capita                      0
known_property_crimes                  0
unemployment_rate                      0
dtype: int64

In [15]:
df[df.edu_expenditure_percent_gov_income.isnull()]

,state,year,enroll,total_revenue,federal_revenue,state_revenue,local_revenue,total_expenditure,instruction_expenditure,support_services_expenditure,...,bachelor_completers_over_25,pupil_teacher_ratio,pub_high_school_graduates,expenditure_per_pupil,edu_expenditure_percent_gov_income,population,gdp_per_capita,income_per_capita,known_property_crimes,unemployment_rate
8,District of Columbia,2000,70762.0,881423,184825,0,696598,858807,318260,429891,...,0.391000,13.925930,2695.00,11934.839822,NaN,571776.0,138628,42903,32998.00000,0.056000
59,District of Columbia,2001,68925.0,1042261,114876,0,927385,1026146,412276,394656,...,0.401683,13.974720,2889.25,13204.286796,NaN,578228.0,144598,44752,36564.00000,0.063583
110,District of Columbia,2002,68449.0,1138126,141514,0,996612,1145684,452905,431693,...,0.412740,14.004314,2989.00,14556.748776,NaN,579736.0,148686,45551,36580.00000,0.064000
161,District of Columbia,2003,67522.0,1114061,152599,0,961462,1105963,473414,406078,...,0.424142,14.019511,3025.75,14735.089571,NaN,577844.0,152623,46452,32696.00000,0.068333
212,District of Columbia,2004,65099.0,1081501,167020,0,914481,1087040,515377,397800,...,0.435857,14.025110,3031.00,15413.876267,NaN,579890.0,160065,51060,26906.00000,0.077833
263,District of Columbia,2005,62306.0,1109605,167922,0,941683,1085658,459063,450060,...,0.447853,14.025910,2781.00,15074.063106,NaN,582049.0,163100,53870,26129.00000,0.063833
314,District of Columbia,2006,59616.0,1092863,127371,0,965492,1081887,478688,433933,...,0.460099,13.533350,3150.00,17876.553799,NaN,583841.0,164366,57025,27064.00000,0.057917
365,District of Columbia,2007,56943.0,1148358,134700,0,1013658,1140506,491992,437772,...,0.472564,12.355760,2944.00,18285.180359,NaN,585916.0,167668,60325,28922.00000,0.055333
416,District of Columbia,2008,58191.0,1224312,85568,0,1138744,1224785,520090,439197,...,0.485218,12.907536,3352.00,20806.619557,NaN,589929.0,170687,62103,30211.00000,0.064417
467,District of Columbia,2009,44331.0,801008,75856,0,725152,805362,330698,370127,...,0.498028,11.860779,3517.00,19765.727877,NaN,599975.0,166178,59998,28495.00000,0.092750
518,District of Columbia,2010,43866.0,1195934,80585,0,1115349,1290048,526469,425379,...,0.511798,12.030385,3602.00,21283.107011,NaN,605040.0,168030,61875,28802.00000,0.094083
569,District of Columbia,2011,44199.0,1283071,155505,0,1127566,1297175,525185,389526,...,0.525252,11.772904,3477.00,21303.656141,NaN,620336.0,166870,65790,29654.00000,0.101583
620,District of Columbia,2012,44618.0,1331006,137742,0,1193264,1189542,594156,266716,...,0.536587,12.850416,3860.00,20398.937700,NaN,635630.0,163274,66564,30757.00000,0.090417
671,District of Columbia,2013,44179.0,1300036,129874,0,1170162,1308438,559940,332997,...,0.545048,13.044131,3961.00,20333.469097,NaN,650114.0,159497,66443,31097.00000,0.084917
722,District of Columbia,2014,44942.0,1342220,134959,0,1207261,1313289,503349,375966,...,0.245385,12.331196,3880.00,21442.469359,NaN,660797.0,159745,69851,34147.00000,0.077667
773,District of Columbia,2015,46155.0,1382282,146366,0,1235916,1360942,557345,379854,...,-0.071200,11.230830,3920.00,22682.406826,NaN,672736.0,159881,73834,37740.59882,0.068750

In [18]:
#df.to_csv('./data/data_cleaned/combined_data_state_level_na_filled_from_2000.csv', index = False)